|
= link_to 'Userliste', users_path

.container-fluid.donations
  %h1 Spendenübersicht
  %ul
  - @donator.each do |donator|
    %li #{donator.name}
    - donator.donations.each do |donations|
      #{donations.food}
      #{donations.amount}
      #{donations.unit}
      = link_to 'zur Spende', donator_donations_path(donator)