Bitte Trage deine Email ein
= form_for @donator, url: verification_url(@donator), :method => :POST do |f|
  = f.label :email
  = f.email_field :email
  = f.submit "Login"

= link_to "Back", new_donator_path
