%h1 Passwort erstellen
= form_for @user,  url: confirm_user_url(@user), :method => :PATCH do |f|
  = f.label :name
  = f.text_field :name
  = f.label :email
  = f.email_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.hidden_field :activation_token, input_html: { value: @token }
  = f.submit 'Erstellen'
