= render '/sessions/logout'
%h1 Alle Mitarbeiter deiner Tafel
= link_to "Neuen Mitarbeiter erstellen", new_user_path
- @user.each do |u|
  - if current_user.is_admin?
    %h3 Name:
    = u.name
    %h3 Email:
    = u.email
    %br/
    = link_to "Mitarbieter bearbeiten", edit_user_path(u)

  - else
    %h3 Name:
    = u.name
    %h3 Email:
    = u.email
