%h1 Neuen Mitarbeiter erstellen
= form_for @user do |f|
  = f.label :name
  = f.text_field :name
  = f.label :email
  = f.email_field :email
  = f.label :admin
  = f.check_box :admin
  = f.collection_radio_buttons(:organization_id, Organization.all, :id, :name)
  = f.submit 'Erstellen'
