%h1 Neue Donation erstellen
= bootstrap_form_for [@donator, @donation] do |f|
  #{f.text_field :food}
  #{f.number_field :amount}
  #{f.text_field :unit}
  #{f.text_field :expiry_date}
  %li
    = f.submit "Spende einstellen", class: "btn btn-success"
