.container-fluid
  %h1 Spende
  = link_to "Spende bearbeiten", edit_donator_donation_path(@donation)
  Der Spender
  = @donator.name
  hat folgendes gespendet
  Essen:
  = @donation.food
  Menge:
  = @donation.amount
  = @donation.unit
  Verbleibende Menge:
  = @donation.amount - @donation.shares.sum(:amount)
  %table
    %thead
      %tr
        %th Tafel
        %th Menge
        %th Einheit
        %th Selbstabholung
    %tbody
      - @shares.each do |s|
        %tr
          %td= s.organization.name
          %td= s.amount
          %td= @donation.unit
          %td= s.pick_up



  = link_to 'Back', donator_donations_path(@donator)
