.container-fluid
  %h1 Spende
  Der Spender
  = @donator.name
  hat folgendes gespendet
  Essen:
  = @donation.food
  Menge:
  = @donation.amount
  = @donation.unit
  Verbleibende Menge:
  = @donation.amount - @donation.ordered_amount

  - if current_user.present? && @share_organization == nil
    = form_for [@donation, @share] do |f|
      = f.label :amount
      = f.number_field :amount
      = f.submit 'Vormerken'
  - else
    = form_for [@donation, @share_organization] do |f|
      = f.label :amount
      = f.number_field :amount
      = f.submit 'bearbeiten'

  - if current_user.present? && current_user.admin?
    =button_to 'Anfordern', delivery_donation_path, data: { confirm: 'Sicher?' }, class: 'btn btn-danger'

  %table
    %thead
      %tr
        %th Tafel
        %th Menge
        %th Einheit
    %tbody
      - @shares.each do |s|
        %tr
          %td= s.organization.name
          %td= s.amount
          %td= @donation.unit


  = link_to 'Back', :back
