.container-fluid
  %h1 Zusammenfassung Transport
  Spende:
  %br/
  = @donation.food
  = @donation.amount
  = @donation.unit
  %br/
  Organisationen die beliefert werden müssen:
  %br/
  - @shares.each do |s|
    .orga-list
      Organisations-Name ->
      = s.organization.name
      %br/
      Organisations-Adresse ->
      %ul
        %li Straße: #{s.organization.address.street}
        %li Hausnummer: #{s.organization.address.house_number}
        %li Stadt: #{s.organization.address.city}
        %li Postleitzahl: #{s.organization.address.plz}
      Teilmenge ->
      = s.amount
      = @donation.unit
  .deliverydate-form
    = bootstrap_form_for @donation do |f|
      = f.text_field :delivery_date
      = f.submit 'Lieferdatum einstellen', class: 'btn btn-info'

    - if @donation.confirmed?
      .btn.btn-success Transport bestätigt!
    - else
      =button_to 'Transport bestätigen', confirm_transport_donation_path, data: { confirm: 'Sicher?' }, class: 'btn btn-info'