%h1 Übersicht alle Regestrierten Tafeln

- @tafel.each do |t|
  - if current_user.is_admin?
    %h3 Name:
    = t.name
    %h3 Email:
    = t.email
    %br/
    = link_to "Tafel bearbeiten", edit_tafel_path(t)

  - else
    %h3 Name:
    = t.name
    %h3 Email:
    = t.email
