Transportunternehmer!
= @transporter.name

Es wurde ein Transport für eine Spende an folgende Tafeln angefordert:

- @shares.each do |o|
  = o.organization.name
  = o.organization.address.street
  = o.organization.address.house_number
  = o.organization.address.city
  = o.organization.address.plz


Bei der Spende handelt es sich um:
= @donation.food
Menge:
= @donation.amount
= @donation.unit

von: #{@donator.name}

Zur Spende gehen:
= link_to "Zur Spende", @url
