Transportunternehmer!
= @transporter.name

Es wurde ein Transport für eine Spende an folgende Tafeln angefordert:

= @organizations


Bei der Spende handelt es sich um:
= @donation.food
Menge:
= @donation.amount
= @donation.unit

Zur Spende gehen:
= link_to "Zur Spende", @url
