Hallo Organisation
= @organization.name

Es ist eine neue Spende eingetroffen.

Der Spender
= @donator.name
hat folgendes gespendet.


Essen:
= @donation.food
Menge:
= @donation.amount
= @donation.unit

Zur Spende gehen:
= link_to "Zur Spende", @url
