%h1 Organisation bearbeiten
.organization-form
  = bootstrap_form_for @organization do |f|
    %ul
      %li
        = f.text_field :name
      %li
        = f.email_field :email
      = f.fields_for :address_attributes, @address do |a|
        #{a.text_field :street}
        #{a.text_field :house_number}
        #{a.text_field :city}
        #{a.text_field :plz}
        #{a.text_field :phone}
      %li
        = f.submit 'bearbeiten'

= link_to "Back", organizations_path
